* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	background-color: #eee;
}

/* header */
#header {
	padding: 0 10%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
	background-color: #222;
	height: 2.8rem;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
}

#header ul {
	display: flex;
	justify-content: center;
	align-items: center;
}

#header ul li {
	margin: 0 1.5rem;
}

#header ul li a {
	color: #eee;
	font-size: 1rem;
}

#header .logo img {
	width: 40px;
	cursor: pointer;
}
/* overview */
#Overview {
	margin: 10rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#Overview .card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin: 0 8rem;
	cursor: pointer;
}

#Overview .card h2 {
	font-size: 1.5rem;
	margin-top: 5px;
}

#Overview .card p {
	font-style: italic;
}

.fas,
.fab {
	font-size: 3rem;
	color: #222;
}

/* how it works */
#How_it_works {
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;
}
